# Backend
PORT=3000
DB_HOST=db
DB_PORT=5432
DB_USER=mobs2
DB_PASS=mobs2
DB_NAME=mobs2
NODE_ENV=development

# Frontend
VITE_API_URL=http://localhost:3000
VITE_WS_URL=ws://localhost:3000
GOOGLE_MAPS_API_KEY=sua_key